@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

$primary: #622182;
$secondary: #8CC739;
$success: #3B472A;
$info: #217C82;
$warning: #B9A03C;
$danger: #B93207;
$dark: #424043;
$light: #eeeeee;

$navbar-height: 3.5rem;

$theme-colors: (
        'primary': $primary,
        'secondary': $secondary,
        'success': $success,
        'info': $info,
        'warning': $warning,
        'danger': $danger,
        'dark': $dark,
        'light': $light
);

$font-family-base: "Source Sans 3", Helvetica, sans-serif;
$headings-font-family: "Bitter", Georgia, serif;

@import "bootstrap/scss/bootstrap";

.nav-size {
  min-height: $navbar-height;
}

.page-header-margin {
  margin-top: 1rem;
}

.toolbar {
  margin-top: $navbar-height;
  background-color: $light;
  padding: 0.5rem;
  z-index: 30;
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
}

.facilities-container {
  height: 3rem;
}

.zoom {
  transition: transform .2s; /* Animation */
}

.zoom:hover {
  transform: scale(1.01);
}