$primary: #622182;
$secondary: #8CC739;
$success: #3B472A;
$info: #217C82;
$warning: #B9A03C;
$danger: #B93207;
$dark: #424043;
$light: #D9D9D9;

$navbar-height: 3.5rem;

$theme-colors: (
        'primary': $primary,
        'secondary': $secondary,
        'success': $success,
        'info': $info,
        'warning': $warning,
        'danger': $danger,
        'dark': $dark,
        'light': $light
);

@import "bootstrap/scss/bootstrap";

.nav-size {
  min-height: $navbar-height;
}

.page-header-margin {
  margin-top: 1rem;
}

.toolbar {
  margin-top: $navbar-height;
  background-color: $light;
  padding: 0.5rem;
  z-index: 1;
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
}